.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100dvh;
  width: 100%;
  gap: 20px;
}
.img__container {
  width: 30%;
}
.custom-img {
  .custom-img {
    width: 100%;
    height: auto;
    max-width: 475px;
    border: 1px solid #80808091;
    padding: 1rem;
  }
}
.countdown-container {
  width: 45%;
}
.custom-heading {
  font-size: 1.875rem;
  font-weight: 600;
  color: #374151;
}
.image__flyer {
  background-image: url(/public/img/energy.svg);
  width: 100%;
  height: 27dvh;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 968px) {
  .hero-container {
    flex-direction: column;
    height: auto;
  }
  .img__container {
    width: auto;
    align-self: center;
  }
  .custom-img {
    margin-top: 20px;
    margin-right: 0;
    height: auto;
    max-width: 18rem;
  }
  .countdown-container {
    width: 100%;
    height: 68dvh;
  }

  .image__flyer {
    width: 100%;
    height: 23dvh;
    background-size: 99%;
  }
  .custom-heading {
    text-align: center;
    font-size: 1.4rem;
  }
}
