@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
  --rosa-header: #c6a08d;
  --rosa-oscuro: #ba5f4d;
  --rosa-claro: #ded0c7;
  --cafe: #613625;
  --cafe-texto: #927067;
  --gris-claro: #dbdad6;
  --fondo:#fef3db;

 /*texto de sitio */
 --font: 'Roboto', sans-serif;
}


* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  padding: 0;
  margin: 0;
}

body{
  background-color: var(--fondo);
  font-family: var(--font);
}